<a href="https://colab.research.google.com/github/DocLock17/JMShared/blob/main/FastFInancialGrabber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
%%capture
!pip install yfinance

In [16]:

import yfinance as yf
from datetime import date
import dateutil.relativedelta

class TickerData():

  def getData(tickerSymbol, periodSize, periods):

    #get data on this ticker
    pulledData = yf.Ticker(tickerSymbol)

    #return the historical prices for this ticker
    return pulledData.history(period=periodSize, start=date.today() - dateutil.relativedelta.relativedelta(days=periods), end=date.today().strftime("%Y-%m-%d"))

#Call the Class in bult function
TickerData.getData('MSFT', '1d', 3650)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2011-06-17   19.407757   19.471861  ...        0.0             0
2011-06-20   19.367689   19.760331  ...        0.0             0
2011-06-21   19.648153   19.920599  ...        0.0             0
2011-06-22   19.712252   19.880527  ...        0.0             0
2011-06-23   19.584042   19.752317  ...        0.0             0
...                ...         ...  ...        ...           ...
2021-06-07  249.979996  254.089996  ...        0.0             0
2021-06-08  255.160004  256.010010  ...        0.0             0
2021-06-09  253.809998  255.529999  ...        0.0             0
2021-06-10  254.289993  257.459991  ...        0.0             0
2021-06-11  257.989990  258.489990  ...        0.0             0

[2513 rows x 7 columns]